.buttonRandom{
    background-color: #FFD700;
    color: black;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 5px 10px #00000085;
    display: block;
    margin: 85px 95%;
    position: fixed;
    bottom: 0;
    transition: all 0.2s ease;
    overflow: hidden;
}

.buttonRandom:active {
    transform: scale(0.9);
}

.buttonRandom:hover .icon {
  transform: translate(4px);
}

.buttonRandom:hover::before {
  animation: shine 2.2s ease-out;
}

.buttonRandom::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -35px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -35px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}