@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body{
  transition: background-color 0.3s, color 0.3s;
}

.light{
  background-color: #FDFDFF;
  
}

.dark{
  background-color:  #2F2F2F;
}

.light strong {
  color: #2F2F2F; /* Cor do texto no tema claro */
}

.dark strong {
  color: #FDFDFF; /* Cor do texto no tema escuro */
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}